<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.core.resources.builders"
              id="dev.jbang.eclipse.core.jbangbuilder"
              name="JBang Project Builder">
      <builder hasNature="true" isConfigurable="false">
         <run class="dev.jbang.eclipse.core.internal.builder.JBangBuilder"/>
      </builder>
   </extension>
   <extension point="org.eclipse.core.resources.natures"
         id="dev.jbang.eclipse.core.jbangnature"
         name="JBang">
      <runtime>
         <run class="dev.jbang.eclipse.core.internal.builder.JBangNature"/>
      </runtime>
      <builder id="dev.jbang.eclipse.core.jbangbuilder"/>
   </extension>
<extension point="org.eclipse.core.resources.markers"
         id="dev.jbang.eclipse.core.jbangproblem"
         name="JBang Problem">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="true"/>
   </extension>
   <extension point="org.eclipse.core.resources.markers"
         id="dev.jbang.eclipse.core.jbangproblem.resolution"
         name="JBang Resolution Problem">
      <super type="dev.jbang.eclipse.core.jbangproblem"/>
      <persistent value="true"/>
   </extension>
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="dev.jbang.eclipse.core.internal.preferences.JBangPreferenceInitializer"/>
   </extension>
   <extension point="org.eclipse.jdt.core.classpathContainerInitializer"
              id="jbangClasspathContainer"
              name="JBang Classpath Container">
      <classpathContainerInitializer
            id="dev.jbang.eclipse.core.JBANG_CLASSPATH_CONTAINER"
            class="dev.jbang.eclipse.core.internal.classpath.JBangClasspathContainerInitializer"/>
   </extension>
   
   <extension
          point="org.eclipse.core.expressions.propertyTesters">
       <propertyTester
             class="dev.jbang.eclipse.core.internal.expressions.JBangResourceTester"
             id="dev.jbang.eclipse.core.JBangResourceTester"
             namespace="dev.jbang.eclipse.core"
             properties="isJBangResource"
             type="org.eclipse.core.resources.IResource">
       </propertyTester>
    </extension>
</plugin>
