name: Java CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, macOS-latest, ubuntu-latest]

    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Cache local Maven repository
        uses: actions/cache@v4
        with:
          path: |
            ~/.m2/repository
            ~/.m2/wrapper
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml', '**/maven-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Build with Maven
        run: ./mvnw --batch-mode --update-snapshots verify -Pflat-repo

      - name: Upload p2 update site
        uses: actions/upload-artifact@v4
        if: runner.os == 'Linux'
        with:
          name: jbang.eclipse
          path: dev.jbang.eclipse.site/target/repository/*

      - name: Deploy p2 update site
        if: github.ref == 'refs/heads/main' && runner.os == 'Linux'
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: "${{secrets.GITHUB_TOKEN}}"
          automatic_release_tag: "latest"
          prerelease: true
          title: "Development Build"
          files: |
            dev.jbang.eclipse.site/target/flat-repository/*
      - name: Upload code coverage
        uses: codecov/codecov-action@v5-beta
        if:  runner.os == 'Linux'
        with:
          files: ./coverage/target/site/jacoco-aggregate/jacoco.xml
          flags: ${{ runner.os }} # optional
          name: ${{ runner.os }}-tests # optional
          verbose: true # optional (default = false)
